version: 2.1

executors:
  ubuntu-executor:
    docker:
      - image: cimg/base:stable

jobs:
  deploy-production:
    executor: ubuntu-executor
    steps:
      - checkout
      - run:
          name: Setup SSH
          command: |
            mkdir -p ~/.ssh
            echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
      - run:
          name: Deploy to Production
          command: |
            ssh -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST \<< 'EOF'
              cd /home/ubuntu/social-prod
              
              # Clone the repository if it doesn't exist
              if [ ! -d "socials" ]; then
                git clone https://github.com/elijahu1/socials.git
              fi
              
              # Go into the cloned directory and pull the latest changes
              cd socials
              git checkout main
              git pull origin main

              # Hard reset for changes to apply
              git fetch origin 
              git reset --hard origin/main
              
              # Go back to the docker-compose directory
              cd /home/ubuntu/social-prod
              
              # Build and deploy
              docker-compose build --no-cache
              docker-compose up -d
            EOF

  deploy-staging:
    executor: ubuntu-executor
    steps:
      - checkout
      - run:
          name: Setup SSH
          command: |
            mkdir -p ~/.ssh
            echo "$EC2_SSH_KEY" > ~/.ssh/id_rsa
            chmod 600 ~/.ssh/id_rsa
            ssh-keyscan -H $EC2_HOST >> ~/.ssh/known_hosts
      - run:
          name: Deploy to Staging
          command: |
            ssh -o StrictHostKeyChecking=no $EC2_USER@$EC2_HOST \<< 'EOF'
              # Navigate to the staging directory
              cd /home/ubuntu/social-stage
              
              # Clone the repository if it doesn't exist
              if [ ! -d "socials" ]; then
                git clone https://github.com/elijahu1/socials.git
              fi
              
              # Go into the cloned directory and pull the latest changes
              cd socials
              git checkout sub
              git pull origin sub
              
              # Go back to the docker-compose directory
              cd /home/ubuntu/social-stage
              
              # Build and deploy
              docker-compose build --no-cache
              docker-compose up -d
            EOF

workflows:
  version: 2
  deploy-workflow:
    jobs:
      - deploy-staging:
          filters:
            branches:
              only: sub
      - deploy-production:
          filters:
            branches:
              only: main
